.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 800px;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page_header {
  padding: 0.75rem 0;
  border-bottom: 2px solid #efefef;
}

.page_header .title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #333d4b;
}

.page_header .contents {
  font-size: 1rem;
  color: #6b7684;
}

.page_section {
  padding: 0.75rem 0;
}

.card {

}

.card + .card {
  padding-top: 1.25rem;
}

.card .card_title {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1.5rem;
  color: #333d4b;
}

.card .card_title::before {
  content: '';
  display: inline-block;
  width: 0.35rem;
  height: 1.15rem;
  background-color: #3182f6;
  margin-right: 0.35rem;
}

.row {
  display: flex;
  overflow: hidden;
  margin-bottom: 0.75rem;
}

.flex_column {
  flex-direction: column;
}

.row .left_box {
  float: left;
  color: #8b8687;
  width: 8.25rem;
  border-right: 3px solid #efefef;
}

.row .right_box {
  float: right;
  width: 100%;
  padding-left: 0.75rem;
}

.career + .career {
  padding-top: 5rem;
}

.career_term {
  margin-bottom: 0.5rem;
}

.career_title {
  margin-bottom: 0.5rem;
  color: #454f5d;
}

.career_title h4 {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.career_contents,
.tech_contents {
  color: #454f5d;
}

.career_contents ul,
.tech_contents ul {
  list-style-type: '- ';
  padding-left: 1.25rem;
}

.career_contents ul li + li,
.tech_contents ul li + li{
  padding-top: 0.45rem;
}

.career_detail + .career_detail {
  margin-top: 1.25rem;
}

.skills .skills_title > h4 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
  color: #333d4b;
}
